@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

//colors
$sixty-color: #F0EFEF;
$thirty-color: #F95335;
$ten-color: #674A40;


// fonts
$fonts-1 :'Montserrat', sans-serif;
$fonts-2 :'Lora', serif;
$fonts-3 : 'Kanit', sans-serif;

// fonts size
// $size-big : calc(500% + 0.8vmin);
// $size-medium : calc(300% + 0.8vmin);
// $size-smail :calc(100% + 0.8vmin);

$size-big : 7rem;
$size-medium : 3rem;
$size-smail : 1.5rem;

// $size-big : 6vw;
// $size-medium : 3vw;
// $size-smail : 1.5vw;


