@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

//colors
$sixty-color: #F0EFEF;
$thirty-color: #F95335;
$ten-color: #674A40;


// fonts
$fonts-1 :'Montserrat', sans-serif;
$fonts-2 :'Lora', serif;
$fonts-3 : 'Kanit', sans-serif;

