.navbar {
  background-color: $ten-color;
  font-weight: bold;
  .head-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    .logo {
      a {
        color: $sixty-color;
        font-size: $size-smail;

        &:hover {
          color: $thirty-color;
        }
      }
    }
    .menu {
      display: flex;
      width: 100%;
      justify-content: space-between;
      // background: #000;
      padding: 0 3rem 0 3rem;
      li {
        a {
          color: $sixty-color;
          &:hover {
            color: $thirty-color;
          }
        }
      }
    }
  }
  .logo-menu {
    display: none;
  }
}
@media screen and (max-width: $media-query) {
  .navbar {

    position: relative;
    .logo-menu {
      width: 2rem;
      height: 2rem;
      color: $sixty-color;
      position:absolute;
      right: 3rem;
      top: 1.5rem;
      display: block;
      cursor: pointer;
    }
    .head-con{
      display: flex;
      // flex-direction: column;
      justify-content: center;
      // background: #000;
      position: relative;
      .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 100%;
      }

      .menu{ 
        width: 100vw;
        // background: $ten-color;
        position: absolute;
        flex-direction: column;
       
        li{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 5rem;
          background: $ten-color;
        }
        z-index: 1;
        top:-500%;
        opacity: 0;
        transition: 0.3s ease;
      }
      .menu.active{ 
        width: 100vw;
        background: $ten-color;
        position: absolute;
      
        flex-direction: column;
        z-index: 1;
        
        li{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 5rem;
          background: $ten-color;
        }
        top: 4.9rem;
        opacity: 1;
        transition: 0.3s ease;
      }
    }
  }
}

// .navbar{
//     background-color: $ten-color;

// .nav-item {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 4rem;

//     font-family: $fonts-1;
//     font-size: $size-smail;
//     font-weight: bold;
//     ul {
//       width: 0 auto;
//       display: flex;
//       height: 100%;
//       align-items: center;
//       // background: #000;
//       width: 100%;
//       // display: none;

//     }
//     li {

//       margin: 0 auto;
//       margin-left: 1rem;
//       // background: #000;

//     }
//     a {
//       color: $sixty-color;
//       text-decoration: none;
//       &:hover {
//         display: flex;
//         height: 100%;
//         align-items: center;
//         color: $thirty-color;
//         cursor: pointer;
//       }
//     }

//     .logo {
//       width: 10%;
//       margin-right: 1rem;
//       font-size: $size-smail;
//       color: $sixty-color;
//       cursor: pointer;
//     }
//     .logo-menu{
//       display: none;
//     }
//   }
// }

// @media screen and (max-width: 863px) {
//   .navbar{

//     .nav-item{
//       // height: auto;

//       position: relative;
//       .logo{
//         // background: #000;
//         height: 100%;
//         width: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         margin: 0 auto;
//       }
//       .logo-menu{
//         position: absolute;
//         right: 1rem;
//         display: block;
//         width: 2rem;
//         height: 3rem;
//         color: $sixty-color;

//       }
//       .menu{
//         display: flex;
//         flex-direction: column;
//         position: absolute;
//         top: 3.1rem;
//         background-color: $ten-color;
//         z-index: 1;
//         height: auto;

//         opacity: 1;
//         left: 0;
//         transition: 0.5s ease;
//         li{
//           margin: 0 auto;
//           width: 100%;
//           margin: 1rem 0 1rem;
//           a{
//             width: 100%;
//             display: flex;
//             justify-content: center;
//           }
//         }

//         top: -100%;
//         opacity: 0;
//         transition: 0.5s ease;
//       }

//       .menu.active{
//         display: flex;
//         flex-direction: column;
//         position: absolute;
//         top: 3.1rem;
//         background-color: $ten-color;
//         z-index: 1;
//         height: auto;

//         opacity: 1;
//         left: 0;
//         transition: 0.5s ease;
//         li{
//           margin: 0 auto;
//           width: 100%;
//           margin: 1rem 0 1rem;
//           a{
//             width: 100%;
//             display: flex;
//             justify-content: center;
//           }
//         }
//       }

//     }

//   }

// }
