.about {
  @include background;
  background-color: $sixty-color;
  .container {
    display: flex;
  }
  .container-left {
    width: 50%;
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .nav-about {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      justify-content: right;
      margin-right: 3rem;
      // background: wheat;

      .red {
        color: $thirty-color;
      }
      .back {
        color: $ten-color;
      }

      ul {
        font-weight: bold;
        font-size: $size-smail;
        li {
          margin-top: 0.5rem;
          cursor: pointer;
          &:hover {
            color: $thirty-color;
          }
        }
      }
    }
  }
  .container-rigth {
    width: 50%;
    height: 90vh;
    background: $ten-color;
    display: grid;
    grid-template-rows: 1fr 1fr;

    .topic {
      font-size: $size-medium;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: end;
      padding-bottom: 5rem;
      // height: 100%;
      .text {
        display: flex;
        .text-item-1 {
          color: $thirty-color;
        }
        .text-item-2 {
          color: $sixty-color;
        }
      }
    }
    .content {
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: column;
      overflow: auto;

      &::-webkit-scrollbar-track {
        background: $ten-color;
      }
      // text-overflow: ellipsis;
      p {
        color: $sixty-color;
        text-indent: 3rem;
        letter-spacing: 1px;
        line-height: normal;
        font-family: $fonts-2;
        font-size: $size-smail;
        padding: 0 3rem 1rem 3rem;
        // &:lang(th){
        //     font-family: $fonts-3;
        //     color: $sixty-color;
        //     text-indent: 3rem;
        //     letter-spacing: 2px;
        //     line-height: normal;
        //     font-size: $size-smail;
        //     // text-align: justify;
        //     padding: 1rem;
        // }
      }
    }
  }
}

@media screen and (max-width: $media-query) {
  .about {
    .container-left {
      .nav-about {
        ul {
          font-weight: bold;
          font-size: 1.3rem;
        }
      }
    }
    .container-rigth {
      .topic {
        font-size: 2rem;
      }
      .content {
        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}
