.about {
  @include background;
  background-color: $sixty-color;

  .container {
    display: flex;
  }

  
  .nav-about {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .red{
      color: $thirty-color;
    }
    .back{
      color: $ten-color;
    }

    ul {
        margin-left: 22rem;
        width: 8rem;
        font-weight: bold;
      li {
        margin-top: 0.5rem;
        cursor: pointer;
        &:hover {
          color: $thirty-color;
        }
      }
        
    }
  }

  .data-about {
    width: 50%;
    height: 100%;
    background-color: $ten-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .topic {
      align-content: center;
      height: 70%;
      font-size: 2rem;
      font-weight: bold;
      display: flex;
      align-items: flex-end;
      padding-bottom: 1rem;
    
        .text{
          display: flex;
          .text-item-1{
          color: $thirty-color;
          }
          .text-item-2{
          color: $sixty-color;
          }
        }
        
    }


    .content{
      width: 100%;
      height: 100%;
      // background: #000;
    }

    p{
        color: $sixty-color;
        text-indent: 3rem;
        letter-spacing: 2px;
        line-height: normal;
        font-family: $fonts-2;
        font-size: 1rem;
        // text-align: justify;
        padding: 1rem;

        &:lang(th){
            font-family: $fonts-3;
            color: $sixty-color;
            text-indent: 3rem;
            letter-spacing: 2px;
            line-height: normal;
            font-size: 1rem;
            // text-align: justify;
            padding: 1rem;
        }
    }

  }
}
