.home {
  background-color: $sixty-color;

  height: 700px;
  align-items: center;

    .profile-contrack{
        display: flex;
      flex-direction: column;
      position: relative;
      top: -3.5rem;
      left: .5rem;
      .git-icon{
        width: 1.5rem;
        height: 1.5rem;
      }
      .email{
        margin-top:.2rem;
        display: flex;
        align-items: center;
        .email-icon{
        width: 1.5rem;
        height: 1.5rem;
        padding-right: .5rem;
      }
      }
      
      }
  .home-item {

    display: flex;
    height: 100%;
    .background {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: right;


      picture{
        height: 30rem;
        width: 26rem;
        background-image: url('/src/assets/imgs/profile.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    
    }
    .item-1{
        font-family: $fonts-1;
        font-weight: bold;
        width: 100%;
        padding-top: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: left;
       
        .row-1{
            display: flex;
        }
        p{
            content: "a";
            color: $ten-color;
            font-size: 3rem;
            // font-weight: bold;
        }
   
        .text-small{
            font-size: 1.5rem;
            padding:1rem 0 1rem ;
        }
        .text-highlight{
            color: $thirty-color;
        }
    
        
        .fonts-2{
            font-family: $fonts-2;
            color: $thirty-color;
        }
    }
  }
}
