.home {
  background-color: $sixty-color;

  @include background;

  .container {
    display: flex;
  }
  .hello-container {
    width: 50%;
    height: 90vh;
    font-family: $fonts-1;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .container-top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 50%;
      justify-content: end;
      position: relative;
      top: 4rem;

      .row-1 {
        display: flex;
      }
      p {
        content: "a";
        color: $ten-color;
        font-size: 5rem;
        // font-weight: bold;
      }

      .text-small {
        font-size: 2.5rem;
        padding: 1rem 0;
      }
      .text-highlight {
        color: $thirty-color;
      }

      .fonts-2 {
        font-family: $fonts-2;
        color: $thirty-color;
      }
    }

    .profile-contrack {
      display: flex;
      flex-direction: column;
      height: 50%;
      justify-content: end;

      // position: relative;
      // left: -8rem;

      .git-icon {
        width: 2rem;
        height: 2rem;
      }
      .email {
        margin-top: 0.2rem;
        display: flex;
        align-items: center;
        .email-icon {
          width: 2rem;
          height: 2rem;
          padding-right: 0.5rem;
        }
      }
    }
  }
  .background {
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: right;

    picture {
      height: 25rem;
      width: 25rem;
      background-image: url("/src/assets/imgs/profile.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      // object-fit: cover;
    }
  }
}

@media screen and (max-width: $media-query) {
  .home {
    .container {
      display: flex;
      flex-direction: column;
      height: 90vh;
      align-items: center;
    }
    .hello-container {
      .container-top {
    
        .row-1 {
          display: flex;
          justify-content: center;
        }
        .fonts-2 {
          display: flex;
          justify-content: center;
        }
      }

      .profile-contrack {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        .email {
          display: flex;
          align-items: center;
          p {
            display: none;
          }
          &:hover {
            p {
              display: block;
            }
          }
          .email-icon {
            padding-right: 0;
          }
        }
      }
    }
    .background {
      display: flex;
      justify-content: center;
      picture {
        height: 23rem;
        width: 23rem;
      }
    }
  }
}
