// @include background-image 
// @include background('../../assets/imgs/profile.png');
.home {
  background-color: $sixty-color;
  height: 650px;
  align-items: center;
  .home-item {
    display: flex;
    max-height: 650px;
    height: 100%;
    .background {
      width: 100%;
    //   background-color: aqua;
      display: flex;
      align-items: flex-end;
      justify-content: right;

      picture{
        height: 30rem;
        width: 30rem;
        background-image: url('/src/assets/imgs/profile.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        // border:none solid black
      }

      
    }
    .item-1{
        font-family: $fonts-1;
        font-weight: bold;
        width: 100%;
        padding-top: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: left;
       
        .row-1{
            display: flex;
        }
        p{
            color: $ten-color;
            font-size: 3rem;
            // font-weight: bold;
        }
        .text-small{
            font-size: 1.5rem;
            padding:1rem 0 1rem ;
        }
        .text-highlight{
            color: $thirty-color;
        }
    
        
        .fonts-2{
            font-family: $fonts-2;
            color: $thirty-color;
        }
    }
  }
}
