.skills{
    @include background;
    background-color:$sixty-color;
    header{
        width: 100%;
        height: 250px;
        font-size:$size-medium;
        display: flex;
        align-items: center;
        font-weight: bold;
        // background-color: aqua;
    }
    nav {
        width: 100%;
        font-weight: bold;
        cursor: pointer;
      ul {
        padding: 0 5rem 0 5rem;
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        color: $ten-color;
        li{
            &:hover{
                transform: scale(1.1);
                transition: 0.1s ease;
                }
        }
      }
        // background:gold;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 10px;
        .grid-item{
           display: flex;
           justify-content: center;
           flex-direction: column;
           align-items: center;
           margin-bottom: 2rem;
           margin-top: 5rem;
           transition: 0.3s ease;
           &:hover{
            transform: scale(1.1);
            transition: 0.3s ease;
            }
           img{
            width: 100px;
           }
           p{
            margin-top: 2rem;
           }
        }
    }
    .active{
        color: $thirty-color;
    }

}

@media screen and (max-width: $media-query) {
    .skills{
        header{
            justify-content: center;
        }
        nav {
            width: 100%;
            font-weight: bold;
            cursor: pointer;
          ul {
            padding: 0 5rem 0 5rem;
            display: flex;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            font-size: 1.5rem;
            color: $ten-color;
          }
        }
        .grid-container{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    
    }
   }