.skills {
  @include background;
  background-color: $sixty-color;
  height: auto;

  header {
    width: 100%;
    height: 250px;
    font-size: $size-medium;
    display: flex;
    align-items: center;
    font-weight: bold;
    // background-color: aqua;
  }
  nav {
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    ul {
      .menu {
        padding: 0 5rem 0 5rem;
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        color: $ten-color;
        li {
          &:hover {
            transform: scale(1.1);
            transition: 0.1s ease;
          }
        }
      }
    }
    // background:gold;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    .grid-item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      margin-top: 5rem;
      transition: 0.3s ease;
      &:hover {
        transform: scale(1.1);
        transition: 0.3s ease;
      }
      img {
        width: 100px;
      }
      p {
        margin-top: 2rem;
      }
    }
  }
  .active {
    color: $thirty-color;
  }
  .navBar-none {
    display: none;
  }
  .text{
    display: none;
  }
}

@media screen and (max-width: $media-query) {
  .skills {
    header {
      justify-content: center;
    }
    nav {
      width: 100%;
      font-weight: bold;
      cursor: pointer;
      ul {
        position: relative;
        height: 4vw;

        .menu {
        //   transition: 0.4s ease;
          background-color: $sixty-color;
          // opacity: .9;
          display: flex;
          flex-direction: column;
          height: auto;
          opacity: 0;
          li {
            transition: 0.3s ease;
            // height: 0vw;
            height: 2rem;
            position: relative;
          }
        }
        .menu.non {
          opacity: 0.9;
          li {
            height: 8vh;
          }
        }
        .navBar-none {
          width: 2rem;
          height: 2rem;
          position: absolute;
          right: 2rem;
          top: 0;
          display: block;
        }
      }
      position: relative;
      .text.non {
        // background: #ddd;
        color: $thirty-color;
        height: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        align-items: center;
      }
      .text {
        display: none;
      }
    }
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}


@media screen and (max-width: $media-query-2) {
    .skills {
      header {
        justify-content: center;
      }
      nav {
        width: 100%;
        font-weight: bold;
        cursor: pointer;
        ul {
          position: relative;
          height: 4vw;
  
          .menu {
          //   transition: 0.4s ease;
            background-color: $sixty-color;
            // opacity: .9;
            display: flex;
            flex-direction: column;
            height: auto;
            opacity: 0;
            li {
              transition: 0.3s ease;
              height: 0vw;
              position: relative;
            }
          }
          .menu.non {
            opacity: 0.9;
            li {
            //   height: 10vw;
            }
          }
          .navBar-none {
            width: 4vw;
            height: 4vw;
            position: absolute;
            right: 2rem;
            top: 0;
            display: block;
          }
        }
        position: relative;
        .text.non {
          // background: #ddd;
          color: $thirty-color;
          height: 100%;
          display: flex;
          justify-content: center;
          font-size: 1.5rem;
          align-items: center;
        }
        .text {
          display: none;
        }
      }
      
      .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
