// utils
@import './utils/variable';
@import './utils/functions';

//base
@import './base/reset';



// component
@import './component/about';
@import './component/home';
@import './component/resume';
@import './component/portfolio';
@import './component/contrack';
@import './component/skills';


// layout
@import './layout/container';
@import './layout/navbar';
